.black {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button__login{
    width: 17rem;
}

h4 {
    color: white
}

form{
    margin-bottom: 8rem;
}